.App{
    height: 100vh;
    width: 100vw;
    background-color: rgba(161, 152, 192, 0.941);
    display: grid;
    place-items: center;
}
.App h1{
    margin-bottom: -50px;
    font-weight: bolder;
}